services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgres://${AWS_PG_USERNAME}:${AWS_PG_PASSWORD}@${AWS_PG_HOST}:5432/commercedbclone